{% extends 'layout/base.html' %}


{% block title %}
Man 
{% endblock title %}
    

{% block main %}

{% load static %}

<!------- Man Shop---------->
<div class="small-container">
    <h2 class="title">Men Products</h2>
    <div class="row">
        {% for i in man_products %}
        <!-- colomn for single product -->
        <div class="col-4">
            <div class="product-image">
                <a href="{% url 'spdpage' i.product_id %}"><img src="{{i.product_image.url}}" alt="image" class="img100"></a>
            </div>
            <div style="display: flex; margin-top: 10px;">
                <h4 style="margin-right: 10px;">{{i.product_name}}</h4>
            </div>
            <div style="margin-top: 5px;">
                <b>₹{{i.selling_price}}</b>  ₹<strike>{{i.original_price}}</strike> <br>
                <small>{{i.product_desc}}</small>
            </div>
        </div>
        {% endfor %}
    </div>
</div>

    
{% endblock %}