{% extends 'layout/base.html' %}


{% block title %}
Home 
{% endblock title %}
    

{% block main %}

{% load static %}

<!--HOME PAGE FIRST VIEW-->
<div class="Shop">
    <div class="home-image">
        <img src="{% static 'img/png-images/home-image.png' %}" alt="" class="home">
    </div>
    <div class="content">
        <h1 class="h1">"Discover Deals, Delight in Quality – Only at OURSHOP!"</h1>
        <p class="subText"> This website is currently under development and has been developed by Aman Raja using HTML, CSS, JavaScript, Django, and MySQL. We’re continually working to enhance and improve the site. Thank you for visiting!</p>
        <div id="Shop-bt-position"><a href="{% url 'shop' %}" class="Shop-Now">Shop Now &#8594;</a></div>
    </div>

</div>

<!------- Man Categories---------->
<div class="small-container" id="men">
    <h2 class="title">Man Categories</h2>
    <div class="row">
        
        <!--First colomn-->
        {% for i in shirt %}
        <div class="col-4">
            <div class="product-image">
                <a href="{% url 'categories' i.categories%}"><img src="{{i.categories_image.url}}" alt="image"
                        class="img100"></a>
            </div>
            <div style="display: flex; margin-top: 10px;">
                <h4 style="margin-right: 10px;">{{i.categories}}</h4>
            </div>
        </div>
        {% endfor %}

        <!--Second colomn-->
        {% for i in jeans %}
        <div class="col-4">
            <div class="product-image">
                <a href="{% url 'categories' i.categories%}"><img src="{{i.categories_image.url}}" alt="image"
                        class="img100"></a>
            </div>
            <div style="display: flex; margin-top: 10px;">
                <h4 style="margin-right: 10px;">{{i.categories}}</h4>
            </div>
        </div>
        {% endfor %}

        <!--Third colomn-->
        {% for i in trouser %}
        <div class="col-4">
            <div class="product-image">
                <a href="{% url 'categories' i.categories%}"><img src="{{i.categories_image.url}}" alt="image"
                        class="img100"></a>
            </div>
            <div style="display: flex; margin-top: 10px; text-align: center;">
                <h4 style="margin-right: 10px;">{{i.categories}}</h4>
            </div>
        </div>
        {% endfor %}

        <!--Forth colomn-->
        {% for i in trackpant %}
        <div class="col-4">
            <div class="product-image">
                <a href="{% url 'categories' i.categories%}"><img src="{{i.categories_image.url}}" alt="image"
                        class="img100"></a>
            </div>
            <div style="display: flex; margin-top: 10px;">
                <h4 style="margin-right: 10px;">{{i.categories}}</h4>
            </div>
        </div>
        {% endfor %}

        <!--Fifth colomn-->
        {% for i in shoes %}
        <div class="col-4">
            <div class="product-image">
                <a href="{% url 'categories' i.categories %}"><img src="{{i.categories_image.url}}" alt="image"
                        class="img100"></a>
            </div>
            <div style="display: flex; margin-top: 10px;">
                <h4 style="margin-right: 10px;">{{i.categories}}</h4>
            </div>
        </div>
        {% endfor %}

        <!--Sixth colomn-->
        {% for i in wallet %}
        <div class="col-4">
            <div class="product-image">
                <a href="{% url 'categories' i.categories%}"><img src="{{i.categories_image.url}}" alt="image"
                        class="img100"></a>
            </div>
            <div style="display: flex; margin-top: 10px;">
                <h4 style="margin-right: 10px;">{{i.categories}}</h4>
            </div>
        </div>
        {% endfor %}

        <!--Seven colomn-->
        {% for i in watch %}
        <div class="col-4">
            <div class="product-image">
                <a href="{% url 'categories' i.categories%}"><img src="{{i.categories_image.url}}" alt="image"
                        class="img100"></a>
            </div>
            <div style="display: flex; margin-top: 10px;">
                <b>
                    <h4 style="margin-right: 10px;">{{i.categories}}</h4>
                </b>
            </div>
        </div>
        {% endfor %}

        <!--Eighth colomn-->
        {% for i in formal_suit %}
        <div class="col-4">
            <div class="product-image">
                <a href="{% url 'categories' i.categories%}"><img src="{{i.categories_image.url}}" alt="image"
                        class="img100"></a>
            </div>
            <div style="display: flex; margin-top: 10px;">
                <h4 style="margin-right: 10px;">{{i.categories}}</h4>
            </div>
        </div>
        {% endfor %}

    </div>
</div>

<!-------Woman Categories---------->
<div class="small-container" id="men">
    <h2 class="title">Woman Categories</h2>
    <div class="categories_row">

        <!--First colomn-->
        {% for i in top_jeans %}
        <div class="col-4">
            <div class="product-image">
                <a href="{% url 'categories' i.categories%}"><img src="{{i.categories_image.url}}" alt="image"
                        class="img100"></a>
            </div>
            <div style="display: flex; margin-top: 10px;">
                <h4 style="margin-right: 10px;">{{i.categories}}</h4>
            </div>
        </div>
        {% endfor %}

        <!--Second colomn-->
        {% for i in tops %}
        <div class="col-4">
            <div class="product-image">
                <a href="{% url 'categories' i.categories%}"><img src="{{i.categories_image.url}}" alt="image"
                        class="img100"></a>
            </div>
            <div style="display: flex; margin-top: 10px;">
                <h4 style="margin-right: 10px;">{{i.categories}}</h4>
            </div>
        </div>
        {% endfor %}

        <!--Third colomn-->
        {% for i in salwar_suit %}
        <div class="col-4">
            <div class="product-image">
                <a href="{% url 'categories' i.categories%}"><img src="{{i.categories_image.url}}" alt="image"
                        class="img100"></a>
            </div>
            <div style="display: flex; margin-top: 10px; text-align: center;">
                <h4 style="margin-right: 10px;">{{i.categories}}</h4>
            </div>
        </div>
        {% endfor %}

        <!--Forth colomn-->
        {% for i in frock %}
        <div class="col-4">
            <div class="product-image">
                <a href="{% url 'categories' i.categories%}"><img src="{{i.categories_image.url}}" alt="image"
                        class="img100"></a>
            </div>
            <div style="display: flex; margin-top: 10px;">
                <h4 style="margin-right: 10px;">{{i.categories}}</h4>
            </div>
        </div>
        {% endfor %}

    </div>
</div>

<!------- Man Shop---------->
<div class="small-container">
    <h2 class="title">Men Products</h2>
    <div class="row">
        {% for i in man %}
        <!-- colomn for single product -->
        <div class="col-4">
            <div class="product-image">
                <a href="{% url 'spdpage' i.product_id %}"><img src="{{i.product_image.url}}" alt="image"
                        class="img100"></a>
            </div>
            <div style="display: flex; margin-top: 10px;">
                <h4 style="margin-right: 10px;">{{i.product_name}}</h4>
            </div>
            <div style="margin-top: 5px;">
                <b>₹{{i.selling_price}}</b> ₹<strike>{{i.original_price}}</strike> <br>
                <small>{{i.product_desc}}</small>
            </div>
        </div>
        {% endfor %}
    </div>
</div>

<!------- Woman Shop---------->
<div class="small-container" id="men">
    <h2 class="title">Woman Products</h2>
    <div class="row">
        {% for i in woman %}
        <!-- colomn for single product -->
        <div class="col-4">
            <div class="product-image">
                <a href="{% url 'spdpage' i.product_id %}"><img src="{{i.product_image.url}}" alt="image"
                        class="img100"></a>
            </div>
            <div style="display: flex; margin-top: 15px; flex-wrap: wrap;">
                <h4 style="margin-right: 10px;">{{i.product_name}}</h4>
            </div>
            <div style="margin-top: 5px;">
                <b>₹{{i.selling_price}}</b> ₹<strike>{{i.original_price}}</strike> <br>
                <small>{{i.product_desc}}</small>
            </div>
        </div>
        {% endfor %}
    </div>
</div>


<!--------offer------->
<div class="offer">
    <div class="small-containers">
        <div class="offer-row">
            <div class="offer-col">
                <img src="/static/img/product-image/watch-image.jpg" alt="">
            </div>
            <div class="offer-col">
                <p>Exclusively Available on MyShop</p>
                <h1>Smart Band 4</h1>
                <small>
                    Fossil Gen 5 Touchscreen Men's
                    Smartwatch with Speaker,Heart Rate,
                    GPS, Music Storage and Smartphone
                    Notifications
                </small><br><br>
                <a href="" class="Shop-Now">Buy Now &#8594;</a>
            </div>
        </div>
    </div>
</div>
{% endblock main %}
    