{% extends 'layout/base.html' %}


{% block title %}
Home 
{% endblock title %}
    

{% block main %}

{% load static %}

<!------- Placed orders---------->
<div class="small-container">
    <h2 class="title">Orders</h2>
    <div class="row">
        {% for i in user_order %}
        <!-- colomn for single product -->
        <div class="col-4">
            <div class="product-image">
                <a href="{% url 'podpage' i.product.product_id %}"><img src="{{i.product.product_image.url}}" alt="image" class="img100"></a>
            </div>
            <div style="display: flex; margin-top: 10px;">
                <h4 style="margin-right: 10px;">{{i.product.product_name}}</h4>
            </div>
 
            <div style="margin-top: 5px;">
                <b>₹{{i.product.selling_price}}</b><br>
                <b style="color: #0AAD0A; ">{{i.status}}</b>
            </div>
        </div>
        {% endfor %}
    </div>
</div>

<!--Footer-->
{% endblock %}