<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{% block title %}{% endblock title %}</title>

    {% load static %}
    <link rel="stylesheet" href="{% static 'css/common.css' %}" />
    <link rel="stylesheet" href="{% static 'css/bottom_tab.css' %}" />
    <link rel="stylesheet" href="{% static 'css/main.css' %}" />
    <link rel="stylesheet" href="{% static 'css/cart.css' %}" />
    <link rel="stylesheet" href="{% static 'css/header.css' %}" />
    <link rel="stylesheet" href="{% static 'css/footer.css' %}" />
    <link rel="stylesheet" href="{% static 'css/form.css' %}" />
    <link rel="stylesheet" href="{% static 'css/help.css' %}" />
    <link rel="stylesheet" href="{% static 'css/profile.css' %}" />
    <link rel="stylesheet" href="{% static 'css/detailed.css' %}" />
    <link rel="stylesheet" href="{% static 'css/shop.css' %}" />
    <link rel="stylesheet" href="{% static 'css/testimonial.css' %}" />
    <link rel="stylesheet" href="{% static 'css/welcome.css' %}" />
    <link rel="stylesheet" href="{% static 'css/messages.css' %}" />
    <link rel="stylesheet" href="{% static 'css/mediaquery.css' %}" />

    <!-- <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20,400,0,0" /> -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,700,1,0" />
    <script src="{% static 'js/main.js' %}"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
</head>

<body>
    <!-- header included -->
    {% include 'layout/header.html' %} 
    
    {% if messages %} 
        {% include 'messages/message.html' %} 
    {% endif %}

    <!-- content -->
    <main id="main-content">{% block main %} {% endblock %}</main>

    <!-- footer included -->
    {% include 'layout/footer.html' %}
    {% include 'layout/bottomTab.html' %}
</body>

</html>