<nav class="bottom_tab">
  <ul>
    <li><a href="{% url 'home' %}"><span class="material-symbols-outlined">home_app_logo</span></a></li>
    <li><a href="{% url 'shop' %}"><span class="material-symbols-outlined">apparel</span></a></li>
    <li><a href="{% url 'wishlist' %}"><span class="material-symbols-outlined">loyalty</span></a></li>
    <li><a href="{% url 'cart' %}"><span class="material-symbols-outlined">shopping_cart</span></a></li>
    <li><a href="{% url 'profile' %}"><span class="material-symbols-outlined">person_edit</span></a></li>
  </ul>
</nav>
