<footer class="footer">
    <div class="container">
 
       <!--row 1-->
       <div class="row">
          <!--colomn 1-->
          <div class="col">
             <h6 class="footer-h6">Categories</h6>
             <ul class="link-container">
                <li class=""><a href="">Shirt</a></li>
                <li class=""><a href="">Jeans</a></li>
                <li class=""><a href="">Trouser</a></li>
                <li class=""><a href="">Trackpant</a></li>
                <li class=""><a href="">Shoes</a></li>
                <li class=""><a href="">Watch</a></li>
                <li class=""><a href="">Wallet</a></li>
             </ul>
          </div>
 
          <!--colomn 2-->
          <div class="col">
             <h6 class="footer-h6">Shop</h6>
             <ul class="link-container">
                <li class=""><a href="">Men</a></li>
                <li class=""><a href="">Women</a></li>
                <!--
                <li class=""><a href="">Mobile</a></li>
                <li class=""><a href="#!">Laptop</a></li>
                <li class=""><a href="#!">Groceries</a></li>
                -->
             </ul>
          </div>
 
          <div class="col">
             <h6 class="footer-h6">Payment</h6>
             <ul class="link-container">
                <li class=""><a href="#!">Cash On Delivery</a></li>
                <!--
                <li class=""><a href="#!">Amanzon pay</a></li>
                <li class=""><a href="#!">Pay Pal</a></li>
                <li class=""><a href="#!">Visa</a></li>
                <li class=""><a href="#!">Mastercard</a></li>
                <li class=""><a href="" class="nav-link">Paytm</a></li>
                -->
             </ul>
          </div>
 
          <div class="col">
             <h6 class="footer-h6">Help</h6>
             <ul class="link-container">
                <li class=""><a href="#!">Email</a></li>
                <li class=""><a href="#!">Contact</a></li>
                <!--
                <li class=""><a href="#!">WhatsApp</a></li>
                <li class=""><a href="#!">Instagram</a></li>
                <li class=""><a href="#!">Telegram</a></li>
                -->
             </ul>
          </div>
 
          <div class="col">
             <h6 class="footer-h6">Devloper</h6>
             <ul class="link-container">
                <li class=""><a href="#!">Aman Raja</a></li>
                <li class=""><a href="#!">Sahil</a></li>
                <li class=""><a href="#!">Rehan</a></li>
             </ul>
          </div>
       </div>
 
 
       <div class="copyright-posittion">Copyright 2022 © OURSHOP eCommerce HTML Template. All rights reserved.
       </div>
 
    </div>
 </footer>